*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(193, 207, 60, 0.274);
}
#cv-form{
    /* display: none; */
}
.myimg{
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
}
.background{
    background-color: aqua;
}
#cv-template{
    display: none;
}